# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
*.swp
\#*
*\#

# Data file
/config/
/packages/
/test.txt
/test1.txt
/test.pdf
/test_compile.el

# Configure file
/url/
/eshell/
/recentf
/tramp
/abbrev_defs
/places
/smex-items
/ido.last
/company-statistics-cache.el
/pyim/

# Don't ignore self
!.gitignore